<a href="https://colab.research.google.com/github/MarioJGC/learning-git/blob/master/Prediction_Medical_Expenses.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
medical_charges_url = 'https://raw.githubusercontent.com/JovianML/opendatasets/master/data/medical-charges.csv'

In [2]:
from urllib.request import urlretrieve

In [4]:
urlretrieve(medical_charges_url, 'medical.csv')

('medical.csv', <http.client.HTTPMessage at 0x79de0ed02de0>)

In [5]:
import pandas as pd

In [6]:
medical_df = pd.read_csv('medical.csv')

In [8]:
medical_df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [9]:
medical_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

# ¿Qué podemos entender con `.describe()`?

El método `.describe()` nos permite obtener un resumen estadístico rápido de los datos y sacar conclusiones básicas.

## 1. Cantidad y calidad de datos
- `count`: indica cuántos valores hay.
- Si `count` es menor al total de filas, hay valores faltantes (NaN).
- Permite comparar qué columnas tienen peor calidad de datos.

## 2. Tendencia central
- `mean` (promedio) y `50%` (mediana).
- Si mean ≈ mediana → datos simétricos.
- Si mean > mediana → sesgo a la derecha.
- Si mean < mediana → sesgo a la izquierda.

## 3. Dispersión
- `std`: mide qué tan dispersos están los datos.
- `std` alto → valores muy variables.
- `std` bajo → valores más estables.

## 4. Valores atípicos (outliers)
- Comparando `min`, `max`, `25%` y `75%` se pueden detectar posibles outliers.
- Valores muy alejados de los cuartiles suelen indicar errores o casos extremos.

## 5. Distribución de los datos
- Cuartiles (`25%`, `50%`, `75%`) muestran cómo se concentran los datos.
- Cuartiles cercanos → datos concentrados.
- Cuartiles separados → datos dispersos.

## 6. Variables categóricas
- `unique`: número de valores distintos.
- `top`: valor más frecuente.
- `freq`: frecuencia del valor más común.
- Ayuda a detectar sesgos o problemas de normalización.

## 7. Comparaciones posibles
- Comparar columnas entre sí.
- Analizar grupos con `groupby().describe()`.
- Evaluar calidad, estabilidad y distribución de datos.

## 8. Limitaciones
- No indica causalidad.
- No predice resultados.
- No muestra relaciones entre variables.

## Resumen
Con `.describe()` podemos:
- Detectar problemas en los datos.
- Entender el comportamiento de las variables.
- Identificar outliers.
- Comparar consistencia y dispersión.

In [10]:
medical_df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010